<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Calculadora Python</title>
</head>
<body>
    <div">
        <div>
            <h1>Calculadora Python com Flask</h1>
            <form action="" method="POST">
                <input type="number" placeholder="Digite um número" name="num1">
                <input type="number" placeholder="Digite um número" name="num2">

                <input type="radio" name="opc" id="soma" value="soma" checked>
                <label for="soma">Soma</label>

                <input type="radio" name="opc" id="subt" value="subt">
                <label for="soma">Subtração</label>

                <input type="radio" name="opc" id="mult" value="mult">
                <label for="soma">Multiplicação</label>

                <input type="radio" name="opc" id="divi" value="divi">
                <label for="soma">Divisão</label>
                <br />

                <div>
                    <button>Enviar</button> 
                    <button type="reset">Cancelar</button>
                </div>   
            </form>
        </div>
    </div>
</body>
</html>